/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */

/**
 * By importing this CSS file as media "all", we allow this print file to be
 * aggregated with other stylesheets, for improved front-end performance.
 */
@media print {
  font-size: 0.875em;

  h3 {
    margin:0 !important;
    padding:$spacing-s $spacing-l !important;
  }

  #main {
    border:0;
  }

  .alt-image img {
    width:878px;
  }

  #page-title,
  .icon-print,
  .region-header,
  .region-lower-content-wrapper,
  .region-bottom {
    visibility: hidden;
    display: none;
  }
}
