@import "sassy-buttons";

//   Sassy Button defaults
//   These are the base defaults for the buttons, if you are going to use similar buttons on an entire site,
//   overriding these can save you some time by calling the sassy button mixin with less arguments.

$sb-base-color: rgba(11, 153, 194, 1);
$sb-second-color: false;
$sb-border-radius: 0;
$sb-padding: $spacing-s $spacing-m;
$sb-font-size: 1em;
$sb-text-color: white;
$sb-text-style: none;
$sb-gradient-style: "simple";
$sb-pseudo-states: true;
$sb-ie-support: true;


//  Mixin that gets included when calling the sassy-button-structure if you need any
//  styles applied to all your sassy buttons, add it here.

@mixin sassy-button-default-structure {
  display: inline-block;
  cursor: pointer;
}

@mixin sassy-button-nswp($color) {
	background-color:$color;
	&:hover { background-color:$color; }
	border-radius:0;
}

@mixin sassy-button-alt-nswp($color-1, $color-2) {
	background-color:$color-2;
	border:1px solid $color-1;
	color:$color-1;
	&:hover { background-color:$color-2; }
}


//  *    Mixin reference
//  *   -----------------------------------------
//  *   @include sassy-button(gradient-style, border-radius, font-size, first-color, second-color, text-color, text-style, auto-states, ie-support);
//  *   @include sassy-button-structure(-border-radius, font-size, padding);
//  *   @include sassy-button-gradient(gradient-style, first-color, second-color, text-color, text-style, auto-states, ie-support);
