$roboto:		 'Roboto', Arial, serif;

// TODO implement client font once details received
$helvetica-neue: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $roboto; // The font family set on the html element.
$font-body:        $helvetica-neue;

$page-width: 940px;

// Spacing
$spacing-s:10px;
$spacing-m:20px;
$spacing-l:40px;

//
// Colors, etc.
//
$font-color:#444444;
$font-alt-color:#333333;

$border-color: #CCCCCC;
$border-light-color:#ddd;
$border-alt-color:#b82c3e;

$highlight-color: #999999;
$link-color: #00A1DE;
$active-link-color:#133880;
$hover-link-color:#CCCCCC;
$content-background-color:#D9D9D9;
$pop-out-color: #f0f0f0;

$alert-text:#E3173D;

$residential-color:#009500;

$region-background:#F5F5F5;
$region-alt-background: #f8f8f8;
$region-detail:#FCFCFC;

$text-global-blue:#003577;
$text-global-grey:#7f7f7f;

$button-blue-background:#00b1e5;

$warning-color: #FFB601;
$not-allowed-color: #B82C3E;
// Radius
$border-radius:10px;
