/*WYSIWYG editor*/

.twitter {
	background: url("../images/social_twitter.png") no-repeat left top transparent;
} 
.facebook {
	background: url("../images/social_fb.png") no-repeat left top transparent;
} 
.youtube {
	background: url("../images/social_youtube.png") no-repeat left top transparent;
}

.icon-phone {
	&:before{
		@extend .fa;
		content: $fa-var-phone;
		padding-right:$spacing-s;
	}
}

.icon-email {
	&:before{
		@extend .fa;
		content: $fa-var-envelope;
		padding-right:$spacing-s;
	}
}

.icon-reports {
	color:$active-link-color;
	&:before {
		@extend .fa;
		content: $fa-var-file-text;
		padding-right:$spacing-s;
	}
}

.back-link {
	&:before {
		@extend .fa;
		content: $fa-var-chevron-left;
	}
	a {
		padding-left:5px;
	}
}

.btn{} 

.not-now {}

