/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

// We are going to create a fluid grid with 1, 3, or 5 columns and 20px gutters
// between columns (applied as 10px of left/right padding on each column).
$zen-column-count:  1;
$zen-gutter-width:  20px;

// If you need IE6/7 support for box-sizing: border-box (default), see _init.scss
//$zen-box-sizing: content-box;

// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

// Suppress this section of CSS for RTL layouts since it contains no LTR-specific styles.
@if $zen-reverse-all-floats == false {

  /**
   * Center the page.
   *
   * For screen sizes larger than 1200px, prevent excessively long lines of text
   * by setting a max-width.
   */
  #page,
  .region-header,
  .region-header-top,
  .region-navigation,
  .region-highlighted,
  .region-content,
  .node-type-plain-page #content,
  .region-region-supporting-content,
  .region-lower-content,
  .region-footer,
  .region-bottom {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  /* Apply the shared properties of grid items in a single, efficient ruleset. */
  #header .region-header,
  #header .region-header-top,
  #navigation .region-navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  .region-lower-content,
  #footer .region-footer,
  .region-bottom {
    // See the note about $zen-auto-include-item-base above.
    @include zen-grid-item-base();
    padding:0;
  }

  /* Containers for grid items and flow items. */
  #header,
  #main,
  #footer {
    @include zen-grid-container();
  }

  #main {
    border-top: solid $spacing-s $border-alt-color;
  }

  .front #main {
    border: none;
    padding-top:0;
  }

  .panel-3col {
    .panel-panel {
      width:100% !important;
      .inside {
        margin:0 !important;
      }
    }
    .panel-panel {
      background: #FFFFFF;
      border: 1px solid #cccccc;
      margin-bottom: 10px;
      min-height:100px;
      p {
        margin:0.5em;
      }
    }

    .panel-pane {

    }
    .panel-col-last {
      margin-bottom: 0;
    }
  }

} // End of @if $zen-reverse-all-floats == true


/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 960px) {

  $zen-column-count: 5;

	#header {
		.region-header,
    .region-header-top {
			max-width:$page-width;
		}
	}

  .header__logo {
    margin: 20px 0 20px 0 !important;
  }

  #main {
    padding-top:$spacing-m;
  }

	#navigation {
		.region-navigation {
			max-width:$page-width;
		}
	}

  .header_image {
    min-height: 230px !important;
  }

  body {
    h2 {
      margin-top:0;
      margin-bottom:0;
      font-weight: lighter !important;
      font-size: 1.875em;
    }

    #content {
      .region-inner {
        padding:$spacing-s 0;
      }
    }

    .region-lower-content-wrapper {
      padding-top:$spacing-l;
      padding-bottom:$spacing-l;
      margin-top:$spacing-l;
    }
  }

  .region-content {
      width:938px;
      position:relative;
  }

  .section-list-of-development-types .region-content {
    border:1px solid $border-color;
    @include border-radius(10px);
    width:913px;
    margin-top:15px;
  }

/*  List of Development Types node view*/

  // .node-type-page #content {
  //   padding: 40px 0 !important;
  // }

	.region-lower-content,
  .region-highlighted,
  .region-region-supporting-content {
    max-width:$page-width;
  }

  .panel-3col {
    .panel-panel {
      width:311px !important;
    }
    .panel-panel {
      border: 1px solid $border-color;
      margin-bottom: 0;
      &.panel-col-first {
        border-right:0 !important;
      }
      &.panel-col-last {
        border-left:0 !important;
        border-right: 1px solid $border-color;
      }
    }
  }

  /*   Block menu */
  .block-menu {
    ul {
      li {
        display:inline-block;
      }
    }
  }

  .pane-development-types {
    a {
      font-size: 1.375em !important;
    }
  }

  .table-cell {
    border:1px solid $border-color;
    border-collapse: collapse !important;
    float:none!important;
  }

  /*  Search results  */
  .node-type-panel {
    > .region-content {
      border:1px solid $border-color;
      @include border-radius(10px);
    }
  }

  .dev-types-heading {
    width:903px;
    display: block !important;
    background: $region-background;
    padding:10px 15px;
    border-top:1px solid $border-color;
    border-bottom:1px solid $border-color;
    table {
      margin:0;
    }
    td {
      padding:0;
    }
    #dev-cell {
      width: 320px;
    }
    #property-cell {
      padding-left: 5px;
    }
  }

  .node-type-panel .group-wrapper .views-row {
    margin-right: 10px;
  }

  .page-search-developments,
  .page-reports {
    #content {
      .region-content {
        .region-inner {
          padding:$spacing-m;
        }
      }
    }
  }

  .node-type-panel {
    > h1#page-title {
      background-position: left top !important;
    }
    .group-wrapper {
      padding:5px 0;
      h3 {
        width:290px !important;
        padding:10px 15px !important;
        cursor: default !important;
        display:inline-block !important;
        background:transparent!important;
      }

      .group-results{
        display:inline-block !important;
        margin:0 !important;
      }

      &:hover {
        background:$active-link-color;
          h3 {
            color: #FFFFFF !important;
            border-color: #FFFFFF;
          }
          a {
            color: #FFFFFF !important;
            border-color: #FFFFFF;
          }
        }
      }
    }

  .reset-text {
      display: inline-block !important;
      font-size:0.875em;
  }

  .resize-icon {
    margin-right:$spacing-s;
  }

  /* 960 Tabs*/
  #tabs {

    .faq-move-over {
      float:left;
      width:47%;
      margin-right: 1.5%;
    }

    #alteration_object_faq_requirements_content,
    #alteration_faq_content {
      position: relative;
      float:left;
      display:inline-block;
      width:47%;
    }
  }

  #block-panels-mini-contact {
    .panel-panel {
      display: inline-block !important;
      clear:none !important;
      width:33% !important;
      text-align: center;
      &.panel-col-first {
        text-align: left;
      }
    }
    .panel-panel.panel-col-last {
      margin-left: 0;
      .inside {
        padding-left:50px;
      }
    }
  }

  .page-search-developments {
    .pane-custom {
      ul {
        li{
          a {
            padding:23px 0 !important;
            &.residential-link{
              background: url('../images/icon-residential.png') no-repeat $spacing-s $spacing-s transparent !important;
            }
            &.commercial-link {
              background: url('../images/icon-commercial.png') no-repeat $spacing-s $spacing-s transparent !important;
            }
            &.industrial-link {
              background: url('../images/icon-industrial.png') no-repeat $spacing-s $spacing-s transparent !important;
            }
          }
        }
      }
    }
  }

  .page-reports {
    .btn-clear {
      margin:0 $spacing-s 0 0 !important;
    }
  }

  #block-sharethis-sharethis-block {
    float:right;
    display:block;
    .sharethis-wrapper {
      text-align:left;
    }
  }

  .reports-link,
  .cta {
    margin: $spacing-m 0;
    border:1px solid $border-color;
    span {
      float:right !important;
      margin-top:0 !important;
    }
    p {
      color:$text-global-grey;
    }
    a.btn {
      margin: 0 !important;
    }
  }

  body {
    h1 {
        color: $active-link-color;
        border-bottom:1px solid $border-light-color;
    }
    &.node-type-plain-page #content .region-inner {
      padding: $spacing-s $spacing-m;
    }
  }

  body #content {
    .region-inner {
      padding:$spacing-m;
      margin:$spacing-m 0;
      /*border:1px solid $border-color;*/
    }
  }


} /*End 960px*/
