/**
 * @file
 * SMACSS Modules
 *
 * Adds modular sets of styles.
 *
 * Additional useful selectors can be found in Zen's online documentation.
 * https://drupal.org/node/1707736
 */

 @import "sassy-buttons";
 @import "sassybuttons";

 * {
   /*outline:0 !important;*/
 }

 body {
 	color: $font-color;
 }

 dl, menu, ol, ul {
 	margin:0.5em 0;
 }

 h1, h2, h3, h4, h5 {
 	color:$active-link-color;
 }

 .front {
 	 h1#page-title {
 	 	@extend .element-invisible;
 	 }
 }

 h1 {
	font-weight:lighter;
	margin:0;
 	&#page-title {
 		color: $active-link-color;
 		border-bottom:1px solid $border-light-color;
 		margin:0;
 	}
 }

 h2 {
 	line-height: 1.2em;
 	font-weight: normal;
 	font-size: 1.187em;
 }

 dl, menu, ol, ul {
 	margin: 0 25px;
 	padding: 0 0 0 20px;
 }

 a {
 	text-decoration:none;
 	color:$link-color;
 	/*outline:0;*/
 }

 a.active {
 	color:$active-link-color !important;
 }

 a:hover {
 	color:$hover-link-color !important;
 };

 .region-header-top {
 	ul li {
 		margin-left: $spacing-s;
 	}
 }

 .region-bottom {
 	 ul li {
 		margin-right: $spacing-s;
 	}
 }

 .header_image {
 	position: relative;
 	display:block;
 	text-align: center;
 	background-color: $region-background !important;
 	/*background-size: 100% 100% !important;*/
 	min-height: 12.5em;
 	p,h2 {
 		margin: 0 auto;
 		padding: $spacing-m 0;
 		width: 90%;
 	}
 }

 .region-highlighted {
 	&::after {
 	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
 }

 p, pre {
 	margin: 1em 0;
 }

 .strapline {
 	max-width:$page-width;
 	margin:0 auto;
 	position: relative;
 	color: #FFFFFF;
 	font-weight: lighter;
 	h2 {
 		font-size: 2.5em !important;
 		color: #FFFFFF;
 		line-height: 1.1em !important;
 		padding: 50px 0 0 0;
 		&::before{
 			content: "";
 			background: url("../images/development-3-types-link.png");
 			padding: 50px;
 			background-position: 50% 50%;
    display: block;
 			background-repeat: no-repeat;
 		}
   }
   /*(Beta release)*/
   h3 {
    color: #fff;
    font-weight: normal;
    margin: 1em 0 0 0;
  }
 }

 #content {
 	.region-inner {
		padding:$spacing-s;
 	}
 }

 body.front {
 	#content {
 		.region-inner {
			padding:0;
			margin:0 0 $spacing-l 0;
			border:0;
 		}
 	}
 }

.node-type-plain-page #content {
 	.region-inner {
 		padding:$spacing-s;
 	}
 }

//Navigation
#navigation {
	.region-navigation {
		position: relative;
		.block-menu {
			position:relative;
			ul.menu {
				text-align: right;
				position: relative;
				top:-50px;
				margin-bottom:-60px;
				width:60%;
			}
		}
	}
}

// Interactive model
.middle_content {
	position:relative;
}

#block-views-alteration-object-block {
	position: relative;
	display: block;
}

.object-menu-wrapper {
	position:absolute;
	font-size:0.75em;
	margin:0;
	height: 100%;
	width:394px;
	overflow: hidden;
	pointer-events: none;
	@include border-bottom-right-radius($border-radius);
	//Menu items
	.object-menu {
		padding:$spacing-s 0 0 0;
		position: relative;
		display:inline-block;
		float:left;
		overflow-x: hidden;
		max-height:516px;
		height:100%;
		max-width:300px;
		min-width: 300px;
		border-right:1px solid $border-color;
		border-bottom:1px solid $border-color;
		background:#FFFFFF;
		pointer-events: auto;
		z-index:20;
  > div {
    width: 97%;
    &:last-of-type {
      padding-bottom: 3.75em;
    }
  }
		h3 {
    margin:0 0 0 3%;
    width: 97%;
    padding:10px;
    box-sizing: border-box;
    background:$content-background-color;
			border-top:1px solid $border-color;
			border-right:1px solid $border-color;
			border-left:1px solid $border-color;
			min-width:262px;
			cursor: pointer;
			font-size:1.166em;
			color:$font-color;
			&:first-child {
				@include border-top-left-radius($border-radius);
				@include border-top-right-radius($border-radius);
			}
			&:last-of-type {
				@include border-bottom-left-radius($border-radius);
				@include border-bottom-right-radius($border-radius);
			}
			&.active.selected {
				border-bottom-left-radius:0;
				border-bottom-right-radius:0;
			}
			// &.active {
			// 	background-color:$highlight-color;
			// 	color:#FFFFFF !important;
			// }
			div {
				display:inline-block;
				cursor:pointer;
			}
			.arrow {
				float:right;
				padding-left:10px;
				&:after {
					@extend .fa;
					content: $fa-var-chevron-down;
					color:$link-color;
				}
			}
		}

		h3.active {
			.arrow {
				&:after {
					@extend .fa;
					content: $fa-var-chevron-up;
				}
			}
		}
  }
  ul {
   margin:0 0 0 3%;
   padding:0;
   min-width: 255px;
   border-left:1px solid $border-color;
   border-bottom:1px solid $border-color;
   position: relative;
   li {
     @include clearfix;
     background:#FFFFFF;
     margin:0;
     padding:0;
     border-right:1px solid $border-color;
     border-bottom:1px solid $border-color;
     list-style-type:none;
     &.views-row-last {
       border-bottom:0;
     }
     a {
       position:relative;
       display: block;
       pointer-events:auto !important;
       margin-left: -28px;
       padding: 8px 30px 8px 48px;
       line-height:1.4em;
       color:$font-color;
       &:focus {
         color: #CCCCCC !important;
       }
       &.selected {
         color: $link-color;
       }
     }
		}
	}
}
.not-allowed-icon,
.partial-allowed-icon {
  &:after {
    float: right;
    font-family: FontAwesome;
    font-size: 1.25em;
  }
}
.not-allowed-icon:after {content: $fa-var-ban;  color: $not-allowed-color;}
.partial-allowed-icon:after {content: $fa-var-exclamation-triangle;  color: $warning-color;}

.object-menu {
  .not-allowed-icon,
  .partial-allowed-icon {
    position: relative;
    &:after {
      position: absolute;
      right: 10px;
      top: 8px;
    }
  }
}

.page-search-developments {
  .not-allowed-icon,
  .partial-allowed-icon {
    position: relative;
    &:after {
      position: absolute;
      right: 15px;
      top: 0.6em;
    }
  }
}

// FAQ items
.field-name-field-alteration-faq ,
.field-name-field-alteration-object-rest-faq {
	.field-name-body {
		display:none;
	}
}

.menu-link {
	position:relative;
	cursor:pointer;
	margin:$spacing-s 0 $spacing-s -1px;
	padding:15px $spacing-s 15px $spacing-s;
	border-top:1px solid $border-color;
	border-right:1px solid $border-color;
	border-bottom:1px solid $border-color;
	background:#FFFFFF;
	color:$link-color;
	z-index: 21;
	float:left;
	pointer-events: auto;
	font-size:1.166em;
	p {
		margin:0;
	}
	&:hover {
   color:$hover-link-color;
	}
}

.lodt-node-view {
  .pane-node-title,
  .pane-node-field-development-types,
  .pane-node-field-alteration-image,
  .pane-node-field-alteration-object-require {
    margin:0;
  }

  .pane-node-field-alteration-object-require {
   ul li {
    list-style-type: disc;
   }
  }
}
.dev-type-node-content {
  background: $region-background;
  padding: 0 20px 20px 20px;
  #alteration_object_content,
  #alteration_faq_content,
  #alteration_object_requirements_content,
  #alteration_object_faq_requirements_content {
    border: none;
  }
  ul {
    margin: 0;
  }
  li {
    border-bottom: solid 2px #fff;
    padding: 10px;
  }
  .field-collection-container {
    border-bottom: none;
    .field-items .field-item {
      margin-bottom: 0;
    }
    .field-collection-view {
      padding: 0;
      margin: 0;
      border-bottom: none;
    }
  }
  .info-icon, .alert-icon, .warning-icon {
    font-size: 1.375em;
    color: $text-global-blue;
    padding-top: 20px;
    display: block;
    &::before {
      font-size: 30px;
      position: relative;
      top: 3px;
    }
  }
  .views-label-field-alteration-faq {
    margin-bottom: 10px;
  }
}

#footer {
	margin:0;
	padding:10px 0;
}

.region-bottom {
	.block-menu ul {
		float:left;
	}
	#block-menu-menu-footer-right-links {
		max-width:$page-width;
		margin:0 auto;
	}
}

// Tabbed content
#object-wrapper {
	position: relative;
	/*bottom:-1px;*/
	width:100%;
	/*	max-height:40%;*/
	.region-content {
		background:transparent;
		position: relative;
		z-index: 21;
		.region-inner {
			padding:0;
		}
	}
	h1#page-title {
		cursor:pointer;
		font-size: 1em !important;
		text-align:center;
		padding: 4px 0 !important;
		text-transform: uppercase;
		@include border-top-right-radius($border-radius);
		@include border-top-left-radius($border-radius);
		background: $active-link-color;
		color: #FFFFFF;
		margin:0;
		&:before {
			@extend .fa;
			content: $fa-var-chevron-circle-up;
			position: relative;
			top:1px;
			right:7px;
			font-size: 1.1em;
		}
		&.active {
			&:before {
				@extend .fa;
				content: $fa-var-chevron-circle-down;
			}
		}
	}
	#alteration_object_title {
		position:relative;
		height:15%;
	}
	#object_content_section {
		/*border-right:1px solid $border-color;
		border-bottom:1px solid $border-color;
		border-left:1px solid $border-color;*/
		padding-top:5px;
		position:relative;
		left:0;
		/*height:10em;*/
		background:#FFFFFF;
	}
	#content {
		padding: 0;
		margin:0 /*$spacing-s*/;
	}
}

// Hotspot styling
.view-alteration-object .view-content ul{
	display: none !important;
	background-color: #FFFFFF;
}

.view-content ul.active{
	display: block !important;
}

//Reset link
.reset-link {
	position:absolute;
	right:0;
	top:0;
	z-index:21;
	border:1px solid $border-color;
	margin:$spacing-s $spacing-s 0 0;
	padding:14px $spacing-s;
	background:#FFFFFF;
	p {
		margin:0;
	}
}

// Block menu
.block-menu,
.block-system-main-menu {
	ul {
		padding:$spacing-s;
		float:right;
		margin:0;
		li {
			position:relative;
			list-style-type: none;
			list-style-image:none;
			display: inline;
			a {
				font-weight: bold;
			}
		}
	}
}

.bars-icon {
	&:before {
		@extend .fa;
		content: $fa-var-bars;
		margin-right:10px;
	}
}

.alert-icon {
	&:before {
		@extend .fa;
		content: $fa-var-warning;
		margin-right:7px;
		color:$alert-text;
		font-size: 1.2em;
	}
}

.info-icon {
	&:before {
		@extend .fa;
		content: $fa-var-info-circle;
		margin-right:7px;
		color:$highlight-color;
		font-size: 1.2em;
	}
}

.question-icon {
	&:before {
		@extend .fa;
		content: $fa-var-question-circle;
		margin-right:7px;
		color: #033482;
		font-size: 1.2em;
	}
}

body[class*='page-planning'] {

	#main {
		padding-top:$spacing-m;
	}
	h1 {
		height:70px;
		padding-left:85px;
		padding-top: $spacing-s;
		padding-bottom:0;
		z-index:100;
		line-height: 2em;
	}
	h1#page-title {
		border:0;
	}

	h2, h3, h4, h5 {
		font-weight: normal;
	}

	#object-wrapper {
		h1 {
			@include element-invisible-off;
		}
	}
	> #content {
		padding: 0 !important;
		position: relative;
		clear: both;
		margin-bottom:$spacing-l;
	}
}

#ResetView {
	display: inline-block;
	position: relative;
	padding: 10px;
	font-size:0.875em;
}

.resize-icon {
	&:before{
		@extend .fa;
		content: $fa-var-undo;
		font-size:1em;
	}
}

.panel-3col-33 {

	.panel-panel {
		position: relative;
		img {
			white-space: nowrap;
			display:inline-block;
			width:100%;
			max-width: 100%;
		}
	}

	.block-image {
		display:inline-block;
		width:100%;
	}

	.block-body {
		border-bottom: solid 10px;
		p {
			margin:0;
			padding: 15px 10px;
		}
		a {
			font-size: 1em;
			color:$active-link-color;
			font-weight: normal;
			display: block;
			text-align: left;

			&:after{
				@extend .fa;
				content: $fa-var-chevron-right;
				float: right;
			}
		}
		a:hover {
			color: $link-color;

		}
	}

	.panel-panel.panel-col-first {
		.block-body {
			border-color: #00ae2a;
		}
	}

	.panel-panel.panel-col {
		.block-body {
			border-color: #db3801;
		}
	}

	.panel-panel.panel-col-last {
		.block-body {
			border-color: #9833cf;
		}
	}
}

.pane-development-types  {
	h2.pane-title {
		text-align: center;
	}
}

.warning-icon {
	&:before {
		@extend .fa;
		content: $fa-var-warning;
		margin-right:10px;
		color:#FFFFFF;
		font-size: 1.5em;
		padding:10px 0;
		position:absolute;
		left:13px;
		top:3px;
	}
}

.pane-nsw-planning-index-developments-link {
	text-align: center;
}

.development-types-mobile {
	background-color: $active-link-color !important;
	padding: 10px 10px 10px 50px;
	color: #FFFFFF;
	@include border-radius(5px);
	position: relative;
	font-size: 0.8125em;
	line-height: 1.2em;
	margin-bottom: 5px;
}

.list-of-developments-message {
	padding: 5px 10px;
	font-size: 0.875em;
	line-height: 1.2em;
	a {
		text-decoration: underline;
	}
}

.alternative-message {
	padding: 5px 10px;
	font-size: 0.875em;
	line-height: 1.2em;
}

#colorbox {
	#cboxWrapper {
		background-color: $region-background;
		#cboxContent {
			background-color: $region-background;
		}
		@include border-radius(10px);
		h1#page-title {
			display:none;
		}
	}

}

#colorbox {
	padding:0 10px;
	line-height: 1.2em;
	ul {
		position: relative;
		padding-left:17px;
		li {
			position: relative;
			list-style-type: none;
			margin-bottom: 10px;
			&:before {
				@extend .fa;
				content: $fa-var-chevron-right;
				margin-right:10px;
				color:$alert-text;
				position:absolute;
				left:-15px;
				top: 3px;
				color: $link-color;
			}
		}
  }

  &.modal-property {
    overflow: visible;
    #cboxWrapper {
      background: #fff;
      overflow: visible;
      height:auto!important;
    }
    #cboxContent {
      overflow: visible;
      height: auto!important;
    }
    #cboxWrapper #cboxContent {
      background: $region-background;
      box-sizing: border-box;
      border: 10px solid #fff;
    }
    #cboxLoadedContent {
      width: 100% !important;
    }
    .form-wrapper {
      border: none;
      margin: 0;
      padding: 20px;
    }
    .modal-property-header {
      padding: 0 0 1em 0;
      background: #fff;
      color: $active-link-color;
      > h2 {
        margin: 0;
        margin-bottom: 0.25em
      }
      > span {
        font-size: 1.2em;
        display: inline;
        width: 60%;
      }
    }
    label {
      color: $active-link-color;
    }
    .form-item {
      margin: 0;
      @include clearfix;
    }
    #property_details_modal_land_details {
      .form-item {
        padding: 10px 0;
        border-bottom: solid 2px #fff;
      }
      label {
        width: 35%;
        float: left;
      }
    }
    #property_details_modal_lga_details {
      .form-item {
        padding-bottom: 1.5em;
      }
    }
    .close-form {
      position: absolute;
      top:-84px;
      right:-1em;
      padding: 0;
      margin: 0;
      top: -3.5em;
      background-color: transparent;
    }
  }

  .tcs-body {
		font-size:0.875em;
		padding-top: 10px;
	}
	.tcs-fine {
		max-height: 130px;
		overflow: auto;
		background-color: #FFFFFF;
		padding: 10px;
		border:1px solid $border-color;
		font-size: 0.8125em;
	}
	.tcs-submit {
		text-align: center;
		margin-top:5px;
	}
}

// Submit Buttons
input.form-submit {
	@include sassy-button("flat");
	@include sassy-button-nswp($button-blue-background);
	margin:$spacing-m 0;
}
input.form-submit:hover {
  background: $hover-link-color;
}

input.link-style-button,
input.link-style-button:link,
input.link-style-button:visited,
input.link-style-button:hover,
input.link-style-button:active
{
  background-color: transparent;
  display: inline;
  color:$link-color;
 	/*outline:0;*/
  display: inline;
  background:none!important;
  border:none;
  padding:0!important;
  margin: 0;
}

input.link-style-button:hover {
 	color: $hover-link-color;
};

input.link-style-button.active {
 	color: $active-link-color;
}

input.search-result-button {
  width: 100%;
  background: #fff;
  color: #000;
  border-radius: 10px;
  margin: 10px 0;
  text-align: left;
  padding: 14px 35px;
  word-wrap: break-word;
}
input.search-result-button:hover {
  background: #00b1e5;
  color: #fff;
}

.search-result-button-wrap {
  position: relative;
  margin: 10px 0;
  float: left;
  width: 100%;
  .search-result-button {
    margin: 0;
  }
  .fa {
    position: absolute;
    bottom: 14px;
    right: 27.5px;
    color: $button-blue-background;
    font-size: 1.2em;
  }
  &:hover .fa {
    color: #fff;
  }
}

.clearable-input-wrapper {
  margin: 0!important;
  padding: 0!important;
  > input[type="submit"] {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: $font-color;
    height: 45px;
    width: 45px;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'FontAwesome';
  }
}

#cboxLoadedContent {
	margin-bottom: 0;
	line-height:1.2em;
	.region-content {
		border:0;
		margin:0;
	}
}

#canvas_container {
	position: relative;
	line-height:0.5em;
	//On load of canvas prevent overlapping of elements
	min-height:5em;
}

.panel-title {
	line-height: 1em;
	font-size: 1.125em;
	font-weight: normal;
}

body[class*='page-planning-'] {
	#content .region-inner {
		padding:0;
	}

	#object-wrapper {
		#content .region-inner {
			margin:0;
			border:0;
		}
	}
	> .region-content{
		border:1px solid $border-color;
		margin-top:$spacing-l;
		margin-bottom:$spacing-l;
	}
}

body[class*='page-search-developments-'] {
	h1 {
		padding:$spacing-s 0;
	}

	label {
		display:block !important;
		margin-bottom:$spacing-s;
	}
	.views-exposed-form {
		input.form-text {
    max-width: none;
    width: 100%;
    position: relative;
    z-index: 20;
    float:left;
		}
	}
}

.pane-custom-search,
.pane-industrial-search,
.pane-commercial-search{
	// margin: $spacing-s;
	.views-exposed-form {
   .views-exposed-widgets {
     position: relative;
   }
   .views-widget-filter-keyword {
     width: 85%;
   }
	  .views-exposed-widget {
	    padding:0;
	  }
	  .views-submit-button {
	  		position: absolute;
     bottom: 0;
     right: 0;
	  }
	}
}

.pane-development-types-search {
	h2 {
		font-size:1em;
		margin-bottom:0.5em;
	}
}

.views-exposed-form {
	label {
		display:none;
	}
	.views-exposed-widget {
   padding:0 0 0 3%;
   width: 82%; /*Search button is width 10%*/
	}
	input {
		max-width: 240px;
		font-size:1.116em;
  height: 41px;
	}
	.views-submit-button {
		padding:0;
		margin:0;
  width: 15%;
		input.form-submit {
    width: 100%;
    background:url('../images/magnify.png') center center no-repeat $button-blue-background;
    text-indent:-9999px;
    height:41px;
    padding:0;
    margin:0;
    border-radius:0;
    right:-52px;
		}
	}
}

#block-panels-mini-contact {
	h2 {
		font-size:1.125em !important;
		color:$font-color;
	}
	p {
		margin:0.5em 0;
	}
	.panel-panel {
		display: block;
		clear: both;
		width:90%;
		&.panel-col-first {
			left:$spacing-s;
		}
		.inside {
			padding-left:$spacing-s;
		}
	}
}

.social-links  {
	.twitter,
	.facebook,
	.youtube {
		display: inline-block;
		height: 41px;
		width: 42px;
		margin-right:5px;
		text-indent: -9999px;
	}
}

#block-panels-mini-contact {
	p {
	  margin:0;
	}
	.panel-panel {
	  .email,
	  .icon-phone,
	  .social-links {
	    font-size: 1.125em;
	    font-family: $roboto;
	  }
	  .icon-phone {
	    font-weight: bold;
	  }
	}
}

#mini-panel-development_types {
	position:relative;
	&.panel-3col-33 .panel-panel .inside{
		border: solid 1px #7e7e7e;
		margin: 0 .25em 1em .25em;
	}
	&.panel-3col-33 .panel-col-first .inside {
		margin: 0 .5em 1em 0;
	}
	&.panel-3col-33 .panel-col-last .inside {
		margin: 0 0 1em .5em;
	}
}

.object-header {
	display:block;
	position:relative;
	min-height:80px;
	.reports {
		float:right;
		margin:$spacing-m $spacing-s 0 0;
	}
}

.page-planning-residential {
	.object-header {
		border-bottom:$spacing-s solid #00ae2a;
	}
	h1 {
		background: url('../images/icon-residential.png') no-repeat $spacing-m 17px transparent;
	}
}

.page-planning-commercial {
	.object-header {
		border-bottom:$spacing-s solid #db3801;
	}
	h1 {
		background: url('../images/icon-commercial.png') no-repeat $spacing-m 17px transparent;
	}
}

.page-planning-industrial {
	.object-header {
		border-bottom:$spacing-s solid #9833cf;
	}
	h1 {
		background: url('../images/icon-industrial.png') no-repeat $spacing-m 17px transparent;
	}
}

/* Search results*/
.node-type-panel {
	.group-wrapper {
		position: relative;
		h3 {
			display:block;
			padding:15px;
			font-size: 0.875em;
			font-weight: normal;
			cursor: pointer;
			background:$region-background;
			&:hover {
				background:$active-link-color;
				color:#FFFFFF;
			}
		}

		.group-results {
			padding:5px 15px;
			margin:10px 0;
			display:none;
		}

		.views-row {
			display: inline-block;
		}

		a {
			display:inline-block;
			min-width:75px;
			padding:6px 7px;
			text-align: center;
			border:1px solid $border-color;
			@include border-radius(7px);
			font-size: 0.875em;
			color:$font-color;
			&:hover {
				color:$font-color;
			};
		}
	}
}

.field-name-field-alteration-image img {
	width:100%;
}

.lodt-node-view {
	.model-ui-link {
		a {
			display:inline-block;
		}
	}

	.group-wrapper,
		#tabs header {

		h3 {
			&:after {
				float: right;
				padding-left:$spacing-s;
				@extend .fa;
				content: $fa-var-chevron-down;
				color:$link-color;
			}
		}

		h3.active {
			&:after {
				@extend .fa;
				content: $fa-var-chevron-up;
			}
		}
	}
}

.node-type-panel {
	> .region-content {
		background-color: $region-detail;
	}
}

// Button Class
.btn {
	display:inline-block;
	padding: 10px 20px;
	background: $button-blue-background;
	color: #fff;
	margin: 0.25em 0;
}
.btn:hover {
  background: $hover-link-color;
}
.btn{
  &:link, &:visited, &:hover, &:active {
    color: #fff!important;
  }
}

.page-search-developments {

	.region-content {
		margin:$spacing-s auto;
	}

	.pane-custom {
		ul {
			margin:0;
			padding:0;
			li{
				min-height: 70px;
				display: block;
				text-align: center;
				padding:0 !important;
				border:1px solid $border-light-color;
				a {
					display: inline-block;
					color: $text-global-grey;
					width:100%;
					padding:67px 0 7px 0;
					border-bottom: 10px solid  #ddd;
					&.residential-link{
						background: url('../images/icon-residential.png') no-repeat center $spacing-s transparent;
					}
					&.commercial-link {
						background: url('../images/icon-commercial.png') no-repeat center $spacing-s transparent;
					}
					&.industrial-link {
						background: url('../images/icon-industrial.png') no-repeat center $spacing-s transparent;
					}
				}
			}
		}
	}
}

.page-search-developments-residential a{
	&.residential-link{
		border-bottom: 10px solid  #00ae2a !important;
		color:$active-link-color !important;
	}
}
.page-search-developments-commercial a{
	&.commercial-link {
		border-bottom: 10px solid  #db3801 !important;
		color:$active-link-color !important;
	}
}
.page-search-developments-industrial a{
	&.industrial-link {
		border-bottom: 10px solid  #9833cf !important;
		color:$active-link-color !important;
	}
}

.pane-custom-search,
.pane-industrial-search,
.pane-commercial-search{
	background: $region-background;
	margin-top:$spacing-m;
	padding:$spacing-s 0;
	h3 {
		padding-left: $spacing-l;
	}
	.view-filters {
		padding:$spacing-m;
	}
	.views-exposed-form {
		.views-exposed-widget {
			.views-widget {
				width:100%;
			}
			input.form-text {
				font-size:0.875em;
				margin:0;
			}
		}
	}
}

.group-wrapper  {
	background: #F5F5F5;
	padding: 0 0 $spacing-s;
	margin: 0 0 $spacing-s;
	span.field-content{
		background: #fff;
	}
	span{
   border-radius: $spacing-s;
		margin:$spacing-s $spacing-m;
		display: block;
		a{
			padding: 12px;
			color: #000;
			display: block;
			&:hover{
				background-color: $button-blue-background;
				border-radius: $spacing-s;
				color: #fff!important;
    &:after {
      color:#fff!important;
    }
			}
		}
	}

	.views-row {
		margin: $spacing-s 0px;
	}

	.views-field-field-alteration-object-require {
		span{
			display: block;
			margin-left:23px;
			font-size:1.375em;
			color:$text-global-blue;
		}

		.field-content {
			ul{

				li{
					border-bottom: solid 2px #fff;
					list-style-type: disc;
					padding: $spacing-s;
				}
			}
		}
	}

	.views-label-field-alteration-object-restrict {
		margin-left:23px;
		font-size:1.375em;
		color:$text-global-blue;
	}

	.field-content {
		p{
			padding: 0 23px;
		}

		.item-list{
			ul{
				padding: 0;
			}
			li{
				background: #fff;
				margin: 10px 0;
				border-radius: 5px;
				padding: $spacing-s;
				list-style-type: none;
				h3 {
					color:$font-color;
				}
			}
			p{
				padding: 0;
			}
		}
	}
}

.page-residential,
.page-commercial,
.page-industrial {

	#main {
		padding-top:$spacing-m;
	}

	h1 {
		margin-top:$spacing-s;
		padding:$spacing-s 30% $spacing-s 0;
	}

	.field-name-field-development-types .field-item {
		padding: 30px 30px 30px 72px;
		font-size:1.375em;
		color:$active-link-color;
	}

	header h3 {
		font-size: 1em;
		cursor: pointer;
	}
}

body.page-planning-residential  {
	h1#page-title {
		border-bottom: $spacing-s solid  #00ae2a;
	}
	#object-wrapper {
		h1#page-title {
			border-bottom:0;
		}
	}
}


body.page-planning-commercial {
	h1#page-title {
		border-bottom: $spacing-s solid  #db3801;
	}
	#object-wrapper {
		h1#page-title {
			border-bottom:0;
		}
	}
}

body.page-planning-industrial {
	h1#page-title {
		border-bottom:$spacing-s solid #9833cf;
	}
	#object-wrapper {
		h1#page-title {
			border-bottom:0;
		}
	}
}


.page-residential {
	.field-name-field-development-types {
		border-bottom: $spacing-s solid  #00ae2a;
		.field-item {
			background: url('../images/icon-residential.png') no-repeat $spacing-s 17px transparent;
		}
	}
}

.page-commercial {
	.field-name-field-development-types {
		border-bottom: $spacing-s solid  #db3801;
		.field-item {
			background: url('../images/icon-commercial.png') no-repeat $spacing-s 17px transparent;
		}
	}
}

.page-industrial {
	.field-name-field-development-types {
		border-bottom:$spacing-s solid #9833cf;
		.field-item {
			background: url('../images/icon-industrial.png') no-repeat $spacing-s 17px transparent;
		}
	}
}

// Reports Details

.page-reports {
	h1 {
		&:before {
			@extend .fa;
			content: $fa-var-file-text;
			padding-right:$spacing-s;
		}
	}
}

fieldset.form-wrapper {
	page-break-after:auto;
}

fieldset.summary-disclaimer.form-wrapper {
    page-break-after:always !important;
}

.fieldset-wrapper {

	.dev_type{
		h3{
			background:#e7e4e3;
		}
	}

	.restrictions_faq{
		padding: 0 0 20px;
		border-bottom: solid 1px #ddd;
	}

	.requirements ul{
		list-style-type: disc;
	}
}

.view-grouping-header,
.reset-text,
.ajax-progress-throbber {
	display:none;
}

.view-empty {
	margin:$spacing-m;
	line-height:1.4em;
}

.front .pane-panels-mini {
	h2.pane-title {
		margin:$spacing-s 0;
	}
}

.service-links {
  float: right;
  position: relative;
  left: 30px;
  .fb_iframe_widget {
    bottom: 7px;
  }
  .twitter-share-button {
    bottom: 1px;
  }
  .service-links-email, .service-links-email:hover {
    color: $font-color;
    font-size: 0.7em;
    font-weight: bold;
    position: relative;
    right: 30px;
    bottom: 6px;
    padding: 3px 4px 2.5px 4px;
    border: 1px solid rgba(0,0,0,.25);
    border-radius: 3px;
    img {
      width: 15px;
      position: relative;
      top: 0.5ex;
    }
  }
}
