input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea,
select {
	width:100%;
	display:inline-block;
	border: 1px solid $border-color;
	padding: 12px;
}

#autocomplete {
	padding: 12px 0;
	font-size:0.875em;
	border:none;
	width:100%;
	ul {
		li {
			padding:6px 12px;
			white-space: nowrap;
		}
	}
	.selected {
   background:$button-blue-background;
   color:#FFFFFF;
	}
	a {
		color:$font-color;
		&:hover, &:focus{
			color:#FFFFFF !important;
		};
	}
}

#nsw-planning-search-form {
	label {
		@include element-invisible;
	}
}

.views-widget-filter-name {
	margin-left:15px;
	margin-bottom:7px;
	input {
		width:288px;
	}
}

.view-list-of-development-types-view .views-submit-button {
	position:absolute;
	left:-1000px;
}

.search-active-mobile-view .views-submit-button {
	padding: 15px;
	input {
		margin:0 !important;
	}
}

// Clear button
.clearable{
  background: #fff url("../images/reset.jpg") no-repeat right -15px center;
  padding: 3px 25px 3px 4px; /* Use the same right padding (18) in jQ! */
  transition: background 0.4s;
}

.clearable.x  {
	background-position: right 10px center;
}

.clearable.onX{
	cursor: pointer;
}

#edit-reset{
	display:none;
}

//Webform

.webform-component-fieldset {
	padding:0;
	margin:0 0 $spacing-s 0;
	border:0 !important;
	.fieldset-wrapper {
		margin:1em 0;
		background:$region-background;
		label {
			padding:$spacing-s 0;
			font-weight: normal;
			display: inline-block;
		}
		.form-item {
			min-height: 2em;
			margin:5px;
			padding:$spacing-s;
			label.option {
				cursor: pointer;
				font-weight: bold;
				min-width:55px;
				min-height:45px;
				width:100%;
				padding:0;
			}
		}
		.form-type-radio {
			position: relative;
			text-align: center;
			background:$content-background-color;
			border:1px solid $content-background-color;
			@include border-radius($spacing-s);
			display: block;
			div.radio {
	          position:absolute;
	          bottom:15%;
	          left:48%;

	          input {
					cursor: pointer;
				}
			}
		}
	}
	legend {
		.fieldset-legend {
			@extend h2;
			display: block;
			&:before {
				@extend .fa;
				content: $fa-var-paste;
				margin-right:$spacing-s;
			}
		}
	}
}

.on {
	background:#fff !important;
	border:1px solid $link-color !important;
}

#nsw-planning-search-property-form {
  .search-form-top-title {
    width: 100%;
  }
  #autocomplete {
    padding: 0;
  }
  .form-wrapper {
    border: none;
    margin: 0;
    padding: 0;
  }
  .form-item {
    margin: 0;
  }
  .grey-block {
    padding: 30px 20px;
    margin: 20px 0;
  }
  .property-search-result-block {
    margin: 20px 0!important;
  }
  .form-item-suburb-postcode-value,
  .form-item-street-id {
    display: none;
  }
  label {
    color: $active-link-color;
    font-size: 1.15em;
  }
  .form-item-street > .field-suffix {
    width: 100%;
    float: left;
  }
  .form-item-street-no,
  .form-item-unit-no {
    width: 50%;
    box-sizing: border-box;
    float: left;
    display: block;
  }

  .form-item-street-no {
    padding-right: 10px;
  }
  .form-item-unit-no {
    padding-left: 10px;
  }

  .form-item-street-no,
  .form-item-unit-no {
    span {
      display: block;
      font-weight: normal;
      color: $font-color;
      font-size: 0.87em;
    }
  }
  .messages {
    float: left;
    box-sizing: border-box;
    width: 100%;
  }
  .form-item-outer-wrapper {
    margin-top: 15px;
  }

  .form-item-dp-no,
  .form-item-lot-no,
  .form-item-section-no {
    margin-top: 15px;
    span {
      display: inline;
      font-weight: normal;
      color: $font-color;
      font-size: 0.87em;
      padding-left: 0.5ex;
    }
  }

  .search-form-cta {
    text-align: center;
  }

  .property-details-title {
    color: $active-link-color;
    font-size: 1.25em;
    line-height: 1.5em;
  }
  .property-details-link {
    font-size: 1.1em;
  }

  .form-example-text{
    padding-top: 0.3em;
  }
}

.front #nsw_planning_search_property_form {
  padding: 20px 0;
}

.page-planning-residential,
.page-planning-commercial,
.page-planning-industrial,
.page-search-developments,
.lodt-node-view {
  #nsw_planning_search_property_form {
    padding: 20px;
    .search-form-top-title {
      border-top: 2px solid $content-background-color;
      margin-top: 20px;
    }
    .property-search-result-block {
      p {
        margin: 0;
      }
    }
    .property-details {
      margin-bottom: 20px;
    }
    .property-search-result-block {
      margin: 8px 0 !important;
    }
  }
}
.page-search-developments,
.lodt-node-view {
  #nsw_planning_search_property_form {
    padding-left: 0;
    padding-right: 0;
  }
}
.page-search-developments #nsw_planning_search_property_form {
  padding-top: 0;
}

@media all and (min-width: 960px) {

	body .webform-component-fieldset {

	    .fieldset-wrapper {
	      .form-type-radio {
	    	display:inline-block;
	    	cursor: pointer;
	        div.radio {
				left:40%;
	        }
	      }
	    }
	}

}



