/**
 * @file
 * SMACSS Modules
 *
 * Adds modular sets of styles.
 *
 * Additional useful selectors can be found in Zen's online documentation.
 * https://drupal.org/node/1707736
 */

/**
 * Branding header.
 */

/* Wrapping link for logo. */
.header__logo {
  display: inline-block;
  margin: 20px 0 20px 20px;
}

/* Wrapper for website name and slogan. */
.header__name-and-slogan {
  @include element-invisible;
}

/**
 * Navigation bar.
 */
#navigation {
  .block {
    margin-bottom: auto;
  }
  .menu {
    position: relative;
    text-align: right;
    li {
      float: none; /* LTR */
      padding: 0 $spacing-s 0 0; /* LTR */
      a {
        font-weight:700;
        font-size:1.05em;
        line-height:1.5em;
        display:inline-block;
      }
    }
  }
}

/**
 * Titles.
 */
.page__title,          /* The title of the page. */
.node__title,          /* Title of a piece of content when it is given in a list of content. */
.block__title,         /* Block title. */
.comments__title,      /* Comment section heading. */
.comments__form-title, /* Comment form heading. */
.comment__title {      /* Comment title. */
  margin: 0.5em 0;
}

/**
 * Blocks.
 */

/* Block wrapper. */
.block {
  margin-bottom: 0;
}

/**
 * Menus.
 */
/* The active item in a Drupal menu. */
.menu a.active {
  border-bottom:6px solid $active-link-color;
}


.display-none {
  display: none;
}

.display-block {
  display:block;
}

.float-left {
  float:left !important;
}

.float-none {
  float:none !important;
}

.grey-block {
  background: $content-background-color;
}

.region-background {
  background:$region-background;
  border-bottom: solid 1px #ddd;
}

.region-lower-content-wrapper {
  border-top: solid 1px #ddd;
  padding-top:$spacing-m;
  padding-bottom:$spacing-m;
  margin-top:$spacing-s;
}

.ie-browser-message {
  margin-top:$spacing-m;
  display: none;
}

/* Model UI Popups*/
#popup_label_scene{
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  pointer-events: none;
  font-size: 0.875em;

}

#popup_label_scene #popup_box .group-wrapper {
  background: #ffeea1;
  padding: 0px;
  margin-bottom: 5px;
  .views-row {
    margin: 5px 0;
  }
}

#popup_label_scene .group-wrapper span {
  margin: 0px 0px;
}

#popup_label_scene #popup_box {
  display: none;
  position: absolute;
  background: #ffeea1;
  width: 190px !important;
  padding: 0px;
  border: 1px solid #ffe363;
  z-index: 24; /*higher than ui elements*/
}

#popup_label_scene #popup_box:after{
  content: url("../images/triangle_arrow.png");
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 100%;
}

#popup_label_scene span{
  display: none;
}

#popup_label_scene span.active{
  position: relative;
  top: 10%;
  display: block;
  text-align: center;
}

#block-nsw-planning-search-lodt-back-link {
  display:block;
  color:$link-color;
  float:left;
  margin-left:$spacing-s;
  padding:0 0 $spacing-m 0;
  &:before {
    @extend .fa;
    content: $fa-var-chevron-left;
  }
}

#block-sharethis-sharethis-block {
  display:block;
  .sharethis-wrapper {
    text-align:right;
  }
}

.model-ui-link {
  position:relative;
  float: right;
  margin-top:-70px;
  p {
    margin:0;
  }
}


// MENU
.responsive-menus.responsified {
  .responsive-menus-simple {
    background: $active-link-color;
    border-radius:0;
    li {
      border-radius:0;
      a {
        padding:5px 15px;
        font-weight: normal;
        border-radius:0;
      }
      a.active {
        color:#fff !important;
      }
    }
  }
  span.toggler {
    background: $active-link-color;
    box-shadow: none;
    border-radius:0;
    padding:5px 15px;
    font-weight: lighter;
  }
}

//Pop out
.pop-out {
  width:260px;
  right: -281px;
  position:fixed;
  bottom:30%;
  padding:$spacing-s;
  background:$pop-out-color;
  h2 {
    margin:.25em 0;
  }
  p {
    margin:0.25em;
  }
  z-index: 9999;

  .pop-out-tab {
    position: absolute;
    width:35px;
    height: 146px;
    background:url('../images/pop-out-tab-closed.jpg') center center no-repeat transparent;
    text-indent: -9999px;
    left:-35px;
    top:0;
    cursor: pointer;
  }

  &.active {
    right: 0 !important;
    .pop-out-tab {
      background:url('../images/pop-out-tab-open.jpg') center center no-repeat transparent;
      cursor: pointer;
    }
  }
}

.icon-dev-types {
  h2.block-title {
    color:$active-link-color;
    margin:0;
    &:before {
      @extend .fa;
      content: $fa-var-building;
      padding-right:$spacing-s;
    }
  }
}

.cta {
  .group-wrapper {
    background:transparent;
    padding:0;
    margin:1em 0;
    .views-row {
      border-bottom:1px solid $border-color;
      padding-bottom:5px;
      a {
        &:after {
          @extend .fa;
          content: $fa-var-chevron-right;
          padding-left:$spacing-s;
        }
      }
    }
  }
}

.page-node-done .links a {
  display: none;
}

.not-now {
  cursor:pointer;
}

.messages--info {
  @extend .messages;
  background-color: #E5F7FC;
  border-color: $button-blue-background;
  &:before {
    content: $fa-var-info-circle;
    color: $button-blue-background;
  }
}