/** Reports page **/
.intro {
	color:$text-global-grey;
	margin:$spacing-s 0;
}

input.btn-clear {
	margin:0 $spacing-s 0 $spacing-s;
	background-color:$hover-link-color;
}

.form-type-checkbox {
	margin:0 0 5px 0;
	padding:5px 0 5px 0;
	border-bottom:1px solid #fff;
}

.dev-type-title {
	font-weight:lighter;
	color:$text-global-blue;
	font-size:1.375em;
}

.reports-link,
.cta {
	padding:30px;
    margin:$spacing-m auto $spacing-l;
    max-width:876px;
	span {
       display: inline-block;
       float:none;
       margin-top:$spacing-m;
       padding-left:$spacing-m;
    }
    a.btn {
      margin: $spacing-s 0;
    }
}

#nsw-planning-reports-form .dev-type-category {
	background: #F0F0F0;
	margin:$spacing-s 0;
	padding:$spacing-m;
	.form-item {
		margin:0;
	}
	label {
		margin-bottom:5px;
		font-weight: normal;
	}
}

.reports-pdf.form-wrapper {
	padding:0;
	position:relative;
	h1.title {
		background:url('../images/doc.png') no-repeat center left transparent;
		padding-left:$spacing-l;
		line-height: 2em;
	}
}

.form-wrapper {
	border:0;
	.form-wrapper {
		padding:$spacing-s 0;
		margin:$spacing-m 0;
	}
}

.fieldset-legend {
	color:$active-link-color;
}

.fieldset-footer {
	padding:$spacing-s $spacing-m;
}

/** Reports details **/
.reports-pdf {
	h2, h3, h4 {
		margin:0.5em 0;
	}
}

.form-wrapper {
	border:1px solid $border-color;
	margin:$spacing-s 0 $spacing-s 0;
	position:relative;
	padding:0;
	div.Residential,
	div.Commercial,
	div.Industrial {
		margin-top:-72px;
		padding: 30px 0 25px 72px !important;
		min-height: 20px;
		font-size: 1.375em;
		color:$text-global-blue;
	}

	div.Residential {
		border-bottom: $spacing-s solid #00ae2a;
	}

	div.Commercial {
		border-bottom: 10px solid #db3801;
	}
	div.Industrial {
		border-bottom: 10px solid #9833cf;
	}
}

.fieldset-legend {
	display:none;
}

.cover.reports-pdf {
	min-height:800px;
}

.print-cover-logo {
	margin:$spacing-l $spacing-l 0 0;
}

.print-cover-content {
	text-align: right;
	font-size:2.25em;
	color:$text-global-blue;
	line-height:1em;
	padding:350px $spacing-l $spacing-m $spacing-m;
}

.print-cover-footer {
	text-align: right;
	line-height:1.5em;
	font-size:1.375em;
	color:$text-global-blue;
	padding-right:$spacing-l;
}

.print-cover-flower {
	position:absolute;
	bottom:-7px;
	left:0;
	z-index:-1;
}

.reports-pdf {
	span.icon {
		position:relative;
		display:block !important;
		height:53px;
		width:53px;
		padding-bottom:$spacing-m;
	}
 #alteration_object_content {
   border: none;
 }
}

.requirements-title,
.category,
.requirements,
.requirements-faq,
.restrictions-title,
.restrictions,
.restrictions-faq {
  padding:0 $spacing-m;
}

.category {
	text-align: right;
	padding:$spacing-s $spacing-l;
	font-size: 1.375em;
}

.dev-type-item h3 {
	padding:$spacing-s $spacing-m;
	color:$text-global-blue;
	font-size:1.75em;
	font-weight:lighter;
	background:$region-background;
	margin:0;
}

.disclaimer-title {
	color:$text-global-blue;
	font-size:1.875em;
	font-weight:lighter;
	margin:$spacing-m $spacing-m 0;
}

.requirements-title {
	position: relative;
	display:block;
	span {
		position:absolute;
		left:$spacing-m;
		height:30px;
		width:30px;
		margin-top:5px;
	}
	h3 {
		font-weight: 500;
		font-size: 1.375em;
	}
}

.restrictions-title {
	position: relative;
	display:block;
	span {
		position:absolute;
		left:$spacing-m;
		padding-top:20px;
		height:30px;
		width:30px;
		margin-top:5px;
	}
	h3 {
		font-weight: 500;
		font-size: 1.375em;
		border-top:1px solid $border-color;
		padding-top:$spacing-s;
	}
}

.alt-image img {
	width:100%;
}

.summary-property {
}

.tcs-fineprint {
	padding:$spacing-m $spacing-m;
}

.icon-print {
	color:$link-color;
	position:absolute;
	right:0;
	top:-$spacing-l;
	cursor:pointer;
	display: inline-block;
	&:before {
		font-size:1.125em;
		@extend .fa;
		content: $fa-var-print;
		margin-right:$spacing-s;
	}
}

.icon-pdf {
	color:$link-color;
	position:absolute;
	right:0;
	top:-$spacing-l;
	cursor:pointer;
	display: inline-block;
}