/*! jQuery UI - v1.11.0 - 2014-06-30
* http://jqueryui.com
* Includes: core.css, tabs.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CTahoma%2CVerdana%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=gloss_wave&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=highlight_soft&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=glass&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=glass&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=highlight_soft&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=diagonals_thick&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=diagonals_thick&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=flat&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/

#tabs {
	height:8.5em;
	padding:$spacing-s 15px;
	margin-left:$spacing-s;
	margin-right:$spacing-s;
	position:relative;
	background-color: $region-alt-background;
	ul.ui-tabs-nav {
		li {
			list-style-type:none;
			margin:0;
			padding:0;
			width:49.75%;
			text-align:center;
			/*outline:0;*/
   &:nth-of-type(2) {
     margin-left:0.5%;
   }
   &:only-of-type {
     width: 100%;
   }
			&.ui-tabs-active {
     border-bottom: 4px solid $region-alt-background;
     a {
       color:$active-link-color;
     }
			}
			a {
				width:100%;
				padding:6px 0;
				color:$highlight-color;
			}
		}
	}

	li#restrictions-tab a {
   .alert-icon:before {
     color: $warning-color;
   }
	}
}


.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	/*outline: 0;*/
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
.ui-tabs .ui-tabs-nav {
	margin: -10px -15px 0;
	padding: 0;
 background: #fff;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	border-bottom-width: 0;
	padding: 12px 0;
	white-space: nowrap;
	background:$content-background-color;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	/*border-top:2px solid $link-color;*/
	background-color:$region-alt-background;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: text;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 0;
	background: none;
	height:9.5em;
	margin-top:3px;
	overflow:auto;
	font-size:0.75em;
	line-height:1.6em;
	color:$font-alt-color;
	.field-label {
		font-size:1.166em;
		margin:5px 0;
		color:$highlight-color;
	}
	p {
   margin: 1em 0 0.5em 0;
	}
	ol, ul {
   margin: 0;
	}
	ul {
		padding: 0 0 0 25px;
		li {
			border-bottom: solid 2px #fff;
		}
	}
	header h3 {
		font-size: 1em;
		font-weight:bold;
		cursor:pointer;
		text-decoration:underline;
		margin:0.25em 0 0 0;
	}
}

#alteration_object_faq_requirements_content,
#alteration_faq_content {
  .node {
  	padding:$spacing-s 15px;
  	@include border-radius($border-radius);
    background:#fff;
    margin-bottom: $spacing-s;
    color:$font-color;
  	h3 {
  		color: $font-color;
  		text-decoration: none !important;
      	&:after {
			float:right;
				@extend .fa;
				content: $fa-var-chevron-down;
				color:$link-color;
      	}
      	&.active {
			&:after {
				@extend .fa;
				content: $fa-var-chevron-up;
			}
		}
  	}
  }
}

/*#alteration_object_content,
#alteration_faq_content,
#alteration_object_requirements_content,
#alteration_object_faq_requirements_content {
	border:1px solid $border-light-color;
	padding:0 1%;
	margin:1% 0;
	@include border-radius($border-radius);
}*/

.ui-tabs-anchor {
  .not-allowed-icon,
  .partial-allowed-icon {
    position: relative;
    right: 0.25em;
    &:after{
      float: none;
    }
  }
}
