/**
 * @file
 * SMACSS Modules
 *
 * Adds modular sets of styles.
 *
 * Additional useful selectors can be found in Zen's online documentation.
 * https://drupal.org/node/1707736
 */

.display-block {
  display:block !important;
}

.text-align-center {
  text-align: center;
}

.float-left {
  float:left;
}

.height-100{
  height:100%;
}

.form-item-suburb-or-postcode label {
  display: inline;
  border:1px solid blue !important;
}
.form-item-suburb-or-postcode input {
  width : 450px;
}
.region-lower-contact{
  width:940px;
  margin: auto;
}
.region-lower-content-wrapper-dark {
  background-color: rgb(51,51,51);
  height:150px; /* DENIS UPDATE footer */
}

#nsw-planning-search-property-form {
  display:none;
}
#nsw_planning_search_property_form.form-wrapper {
  margin:0 !important;
}
.clear-both{
  clear: both;
}
.search-form-top-title {
  margin-bottom: 40px;
}

#radio_toggle_one-wrapper ,
#radio_toggle_two-wrapper{
  height: 40px;
  padding-top: 18px;
  background-color: #00b1e5;
  padding-left: 20px;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius:  5px;
  border-radius: 5px;
}
#radio_toggle_two-wrapper{
  margin-top: 10px;
}
/* TO BE USED WITH SAAS AFTER SELECTION */
#radio_toggle_one-wrapper.toggle-active,
#radio_toggle_two-wrapper.toggle-active {
  background-color: #033482;
  font-weight:bold;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius:  5px 5px 0 0;;
  border-radius: 5px 5px 0 0; ;
}

#radio_toggle_one-wrapper .radio,
#radio_toggle_two-wrapper .radio{
  padding-right: 10px;

  span {
    background-image: none;
    background-color: #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius:  50%;
    border-radius: 50%;
    border: none;

    &.checked {
      background-color: #033482;
      border: 5px solid #fff;
      box-sizing: border-box;
    }
  }
}
#radio_toggle_one-wrapper label,
#radio_toggle_two-wrapper label{
  display:inline;
}

#view_general_rules * {
  text-align:center;
}

#view_general_rules {
  background-color:#f7f7f7;
  margin-top:0px;
  padding-top:20px;
  padding-bottom:40px;
}

#view_general_rules .home-subsection-example {
  color:#858585;
  padding:10px 0 10px 0;
}

#view_general_rules .home-subsection-title {
  color:#858585;
  font-size:20px;
  padding:20px 0 40px 0;
}

#view_general_rules .home-subsection-subtitle {
  font-size:24px;
  color:#033482;
  padding:10px 0 10px 0;
}

#view_general_rules td {
  vertical-align:top;
  padding:0 60px 0 60px;
}
#view_general_rules td.first{
  border-right:1px #cccccc dotted;
}
#view_general_rules td.last{
  border-left:1px #cccccc dotted;
}


#block-panels-mini-homepagefaqs {
  .question-icon {
    font-size: 1.8em;
    color: $text-global-blue;
  }
}
/*
END : update home page
*/

/*
BEGIN : update footer
*/
.icon-phone{
  color: #ffffff;
}
.icon-email {
  color: #ffffff;
}
.region-bottom {
  background-color: #000000;
}
.region-bottom .block-menu ul li a{
  font-weight: normal;
  color:#ffffff;
  font-size:80%;
}
.region-bottom ul.menu li {
  border:1px solid #ffffff;
  border-width: 0 1px 0 0;
  padding-right:10px;
}
.region-bottom ul.menu li.last {
  border-width:0;
}
.region-footer{
  margin-top:55px;
}
#block-panels-mini-contact .panel-panel.panel-col-last {
  position: relative;
  left: 50px;
}
/*
END : update footer
*/

/*
BEGIN : update slider
*/
#h2-slider {
  text-align: center;
  position: relative;
  top: -150px;
  z-index: 10;
  color: #ffffff;
}

#h2-slider img{
  width:65px;
}

.views-field-field-background-image-1 img,
.views-field-field-background-image-2 img,
.views-field-field-background-image-3 img {
  border: 0px none;
  height: auto;
  max-width: 940px;
  max-height: 177px;
}

/*
END : update slider
*/

/*
BEGIN : update page Residential Model > Building alterations > unknow object (ex:air conditioning unit)
*/

.alteration_object_even {
  background-color: #f7f7f7;
}
.alteration_object_odd {
  background-color: #FFFFFF;
}
#alteration_faq_content {
  border-radius: 0;
}
form[action="/planning-residential"]#nsw-planning-search-property-form {
  display:block;
}

.page-planning-residential h1#page-title{
  /*background: transparent url("/sites/all/themes/nsw/images/icon-residential.png") no-repeat scroll 20px 17px; UPDATE DENIS */
  background: transparent url("/sites/all/themes/nsw/images/sprint2/icon-residential-alteration_object.png") no-repeat scroll 20px 17px;
}
h1#page-title-object-alteration {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #003677;
  padding:0px 0px 0px 20px !important;
  font-size:30px;
  /* these 3 last css elements enssure that the text of h1 tag won't go under See report button*/
  width: 791px !important;
  margin-right: 200px !important;
  padding-right: 125px !important;
}
.see-report-in-title{
  float: right;
  top: 5px;
  left: -20px;
  position: relative;
}
#object-wrapper #object_content_section{
  margin : 0 10px;
}
/*
END : update page Residential Model > Building alterations > unknow object (ex:air conditioning unit)
*/


#nsw-planning-search-property-form {
  background-color:#f7f7f7 !important;
}

/*
 DEBUG DENIS
*/
.denis {
  border: 2px solid red !important;
}
.denis2 {
  border: 2px solid green !important;
}

/* #nsw-planning-search-property-form  *{
  border:1px solid black;
}*/
