/**
 * Override rules for fixing rendering problems in IE.
 */

html.ie7, html.ie8, html.ie9 {

	.front .ie-browser-message {
		display: block;
	}

	.panel-title {
		display:none;
	}	

	#block-panels-mini-development-types {
		display: none;
	}
}
